@using Microsoft.AspNetCore.Identity;
@model IEnumerable<IdentityUser>

    @{
        ViewBag.Title = "Assign a developer";
    }

    <h4>Assign a developer</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="AssignFinal">
                <div class="form-group">
                    <label for="DevName" class="control-label"></label>
                    <select name="DevName" class="form-control">
                        @foreach (var user in Model)
                        {
                            <option value="@user.UserName">@user.UserName</option>
                        }

                    </select>
                </div>
                <div class="form-group">
                    <label for="AssignedTicketId" class="control-label"></label>
                    <input style="background-color: lightgrey;" name="AssignedTicketId" value="@ViewBag.TicketID" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <input type="submit" value="Assign" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-controller="Tickets" asp-action="Index"> Cancel </a>
    </div>

