@using Microsoft.AspNetCore.Identity;
@model IEnumerable<IdentityUser>

@{
    ViewBag.Title = "All Registered Developers";
}

<h1>All Developers</h1>

@if (Model.Any())
{
    foreach (var user in Model)
    {
<div style="border:1px solid black" class="card mb-3">
    <div class="card-header">
        User Id : @user.Id
    </div>
    <div class="card-body">
        <h5 class="card-title">@user.UserName</h5>
    </div>
</div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            No developer accounts created yet
        </div>
    </div>
}