@model IEnumerable<BugTracker.Models.Dev>

@{
    ViewData["Title"] = "ViewAssignedDevs";
}

<h1>Your Assignments</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Assignments
            </th>
            <th>
                View
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                Ticket ID: @Html.DisplayFor(modelItem => item.AssignedTicketId)
            </td>
            <td>
                | <a asp-controller="Tickets" asp-action="Details" asp-route-id="@item.AssignedTicketId">Details</a> | 
            </td>
        </tr>
        }
    </tbody>
</table>

